# Usada para buscar hemocentros reais próximos pelo Google Places API.
EXPO_PUBLIC_GOOGLE_PLACES_KEY=coloque_sua_chave_google_places_aqui

# Para builds standalone com react-native-maps, copie estas chaves no app.json.
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=coloque_sua_chave_google_maps_android_aqui
EXPO_PUBLIC_GOOGLE_MAPS_IOS_KEY=coloque_sua_chave_google_maps_ios_aqui
